@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import './animation.css';

.Modal__container {
    position: absolute;
    top: 0;

    display: flex;

    width: 100vw;
    height: 100vh;
    
    z-index: 1000;
}

.Modal__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;

    width: 70vw;
    height: 100vh;
    
    background-color: #222A30;
    animation: showLeft 0.8s 0s normal forwards;
}

.Modal__trashAnima{
    animation: showCan 2s 0s normal forwards;
}

.Modal__trashAnimaChange{
    animation: modalChange 2s 0s normal forwards;
}


.Modal__wrapperInfo{
    margin-left: 20px;
    width: 50%;
}

.Modal__wrapperInfo h2{
    margin: 0;

    font-family: 'Roboto', sans-serif;;
    font-weight: lighter;
    font-size: 4rem;

    color: white;
    user-select: none;
}

.Modal__wrapperInfo strong {
    margin: 0;

    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 4.5rem;

    user-select: none;
}

.Modal__wrapperInfo p {
    width: 90%;
    margin: 8% 0 5% 0;

    display: flex;
    flex-wrap: wrap;

    font-family: 'Roboto', sans-serif;;
    font-weight: normal;
    font-size: 1.2rem;

    color: white;
}

.Modal__wrapperInfo small{
    margin: 13% 0 1% 0;

    display: flex;
    flex-wrap: wrap;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;

    color: white;
}

.Modal__exceptions li{
    font-family: 'Roboto', sans-serif;;
    font-weight: lighter;
    font-size: 1.1rem;

    color: white;
}

.Modal__right{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 30vw;
    height: 100vh;

    background-color: #628862;
    animation: showRight 0.8s 0s normal forwards;
}

.Modal__right button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    margin: 0 5% 0 1%;

    border-radius: 100px;

    outline: none;
    border-width: 5px;
    border-color: white;
    
    cursor: pointer;
}

.Modal__canThrow{
    display: flex;
    flex-direction: row;
}

.Modal__images{
    width: 80px;
    height: 80px;

    margin: 0 3px 0 3px;
    z-index: 1000000;
    transition: 0.5s;
}

.Modal__images:hover{
    width: 200px;
    height: 200px;
    
    z-index: 1000000;
    transition: 0.5s;
}