@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

.Main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

.Main__content h1{
    width: 1000px;

    /* margin-bottom: 2%; */

    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    word-wrap: break-word;

    color: white;
    user-select: none;
}

.Main__cans{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 50vh;

    margin-top: -3%;
}

.Main__bottom{
    position: absolute;

    display: flex;
    justify-self: center;

    width: 104%;

    bottom: 0%;
    right: 0;
    left: 0;

}

.Main__sugestion4user{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    z-index: 2;
}

.Main__sugestion4user strong {
    width: 300px;

    margin-top: 3%;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;

    color: white;
    user-select: none;
}

.Main__footer{
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;

    padding: 0.5%;

    z-index: 10;
}

.Main__footer div, .Main__mapInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Main__mapInfo p{
    margin-left: 3%;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.8rem;

    color: white;
    user-select: none;
}

.Main__social > a{
    width: 30px;
    margin-right: 20px;
}